.App {
  display: grid;
  width: 1400px;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 10px;
}

header {
  grid-area: header;
  background-color: green;
}
nav {
  grid-area: aside;
  background-color: red;
}

.main {
  grid-area: main;
  background-color: blue;
}

.wall img {
  width: 400px;
  height: auto;
}

.dialogs {
  display: flex;
  justify-content: center;
}

.dialogs .dialog-items,
.dialogs .messages {
  width: 100%;
}

.dialogs .item-active {
  color: white;
}
